:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.4em;
  line-height: 1.25;
}
.formDetailHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}
button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  text-decoration: underline;
}

h2 {
  margin-top: 0;
}

input[type="text"],
input[type="email"],
input[type="file"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}
.formDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.formTemplateFieldContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 0.5rem;
}
.formTemplateField {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 4px;
  height: auto;
  width: 100%;
}
.formTemplateFieldSelect {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
  border-radius: 4px;
  height: auto;
  width: 100%;
}
.optionsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.optionItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  background-color: #f9f9f9;
  padding: 0.5rem;
}
.optionsInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 50px;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border-radius: 4px;
  background-color: #ff3333;
}
.optionsInput input[type="text"] {
  width: 100%;
}

.optionsInput select {
  width: 50%;
}
.optionsInput button {
  width: 30%;
  background: none;
}

.addButton .removeButton {
  display: flex;
  border: none;
  cursor: pointer;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
}
.addButton:hover {
  background-color: #007bff;
  color: #ddd;
}
.addButton {
  background: none;
  color: #0056b3;
}
.removeButton {
  background: none;
  color: #ff3333;
}

.removeButton:hover {
  background-color: #ff3333;
  color: #ddd;
}
.templateBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.templateBody select {
  width: 50%;
}
.templateList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.formTemplateGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: #fff;
  gap: 1.5rem;
}

.card:hover {
  transform: translateY(-5px);
}

.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.cardDescription {
  font-size: 1rem;
  color: #666;
}

.cardLink {
  text-decoration: none;
}
.eventList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.error {
  color: #d61111;
}
.eventDetailHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.eventForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info {
  color: #11e334;
}
.dataButtonGroup {
  display: flex;
  gap: 0.5rem;
}

.suggestions {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: calc(100% - 22px);
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}
.formDetailField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  align-items: flex-start;
}

.suggestionsContainer {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}
.suggestionsContainer input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.location {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.eventDetailPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tableContainer {
  overflow-x: auto;
  max-width: 100%;
}
.phoneContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}
.phoneNumber {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.phoneNumber input {
  width: 50%;
}
.phoneNumber select {
  width: 30%;
  max-width: 10rem;
}
@media screen and (max-width: 390px) {
  #root {
    background-color: #b52727;
    width: 100%;
  }
  .container {
    display: flex;
    padding: 10px;
    width: 100%;
  }
}
@media screen and (max-width: 765px) {
  #root {
    display: flex;

    width: 100%;
    padding: 0;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin: 0;
  }
}
